<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467990208972-cl3quopk8o6pd4pcd54i0kluthn5an31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467990208972-cl3quopk8o6pd4pcd54i0kluthn5an31</string>
	<key>API_KEY</key>
	<string>AIzaSyC261ajGAsRuCh8vr5TKmTrXHPSk2j9hpM</string>
	<key>GCM_SENDER_ID</key>
	<string>467990208972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kushagrashukla.MusicApp</string>
	<key>PROJECT_ID</key>
	<string>music-oasis</string>
	<key>STORAGE_BUCKET</key>
	<string>music-oasis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467990208972:ios:1e544132df72eed9c83d69</string>
</dict>
</plist>